doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title URL Shortener
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
  body(background='./kjue_18.jpg')
    #home.heading
      h1
        | URL Shortener
        svg.bi.bi-bezier2(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewBox='0 0 16 16')
          path(fill-rule='evenodd', d='M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01c.18.18.34.381.484.605.638.992.892 2.354.892 3.895 0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a2.839 2.839 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5v-1zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z')
      p
        | Create shorter urls with us
    br
    br
    |  
    br
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link.active(aria-current='page', href='#home') Home
      li.nav-item
        a.nav-link(href='/showdb') Show Database 
      li.nav-item
        a.nav-link(href='#about') About Us
      li.nav-item
        a.nav-link.disabled(aria-disabled='true') Sign In
      li.nav-item
        a.nav-link.disabled(aria-disabled='true') Sign Up
    .profile
      .main
        svg.bi.bi-link(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewBox='0 0 16 16')
          path(d='M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z')
          path(d='M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z')
        |  
        i.bi.bi-link Shorten a long url
        form(method='POST' id='urlForm')
            input#url.form-control(type='text', placeholder='Enter long link here', aria-label='default input example', name='url')
            button.btn.btn-success(type='submit') Shorten URL
        p
          | Copy Shortened URL:
        input.form-control(type='text', aria-label='default input example', value=finalURL)
      .content
        p.p1 Simple and fast URL shortener!
        p.p2
          | URL Shortener allows to shorten long links from Instagram, Facebook, YouTube, Twitter, Linked In, WhatsApp, TikTok, blogs and sites. Just paste the long URL and click the Shorten URL button. Then copy the shortened URL and share it on sites, chat and emails.
      svg.img(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewBox='0 0 16 16')
        path(d='M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z')
        path(d='M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z')
    footer
      | By clicking shorten url, I agree to the terms of service, privacy policy and use of cookies
    br
    br
    br
    br
    br
    hr
    br
    #about.about
      h3#aboutus About Us 
      p Welcome to URL Shortener!
      .aboutcontent
        .first
          h4 Our Mission
          p
            | At URL Shortener, we are dedicated to simplifying and enhancing your online experience by providing a fast and reliable URL shortening service.
        .second
          h4 Why Choose Us
          p
            | We provide speed, realibility, privacy, customization and you can access all the urls you have shortened with us.
        .third
          h4 Contact US
          p
            | Have questions, suggestions, or need assistance? Contact our support team at support.urlshortener@email.com to get in touch.
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL', crossorigin='anonymous')